.palabra{
    color: blue;
    font-weight: bold;
}
.id{
    color: black;
}
.const{
    color: magenta;
}
.op{
    color: red;
}
.syntax{
    color: slategrey;
    text-decoration: underline;
    text-decoration-color: red;
}
.com{
    color: green;
    font-style: italic;
}